 header{
    background: #FFF8F3;
     padding-top: 56px;
    background-image: url('../images/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.header-style{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;

}
ul{
    display: flex;
}
ul ,li{
    gap: 50px;
    list-style: none;
    color:#474747;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.style-head{
color: #181818;
font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.color-primary{
    color: #FD6E0A;
}
.backgroud-primary{
 background-color: #FD6E0A;
 font-size: 30px;
 border-radius: 5px;
 padding: 10px;
 border: none;
 color: white;
}
.head3-style{
color:   #474747;
/* font-family: Open Sans; */
font-size: 45px;
/* font-style: normal; */
/* font-weight: 600; */
/* line-height: normal; */
}
.banar-style{
    max-width: 500px;
}
.head1-style{
 color:   #181818;
/* font-family: Open Sans; */
font-size: 85px;
/* font-style: normal; */
/* font-weight: 700; */
/* line-height: normal; */
}
.pra-style{
 color:   #757575;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.banar{
 display: flex;
  justify-content: space-between;
  padding: 30px 30px 0px 150px;
  align-items: center;
   
  }
  .profile-picture{
    width: 584px;
height: 676px;
  }
 .padding{
    border-radius: 10px;
background: #FFF8F3;
border: none;
  margin-top: 80px;
  margin-left: 500px;
  margin-right: 500px;
 text-align: center; 
 padding: 40px;
 }
.name-email-style{
    display: flex;
    margin-left: 85px;
    /* text-align: center; */
    gap: 30px;
}
.main-head-style{
    color:  #181818;
font-size: 35px;
/* font-style: normal; */
font-weight: 700;
/* line-height: normal; */
}
.main-pra-style{
    color:   #757575;
/* text-align: justify; */
/* font-family: Open Sans; */
font-size: 18px;
/* font-style: normal; */
font-weight: 400;
line-height: 30px;
}
.ne-style{
    color: #757575;
    /* text-align: center; */
    /* font-family: Open Sans; */
    font-size: 20px;
    /* font-style: normal; */
    font-weight: 400;
    line-height: 30px;
}
 .text-center{
    /* text-align: center; */
    margin-top: 56px;
 }
 .centers{
    text-align: center;
 }
 .align-center{
    display: flex;
    padding-left: 230px;
    padding-right: 230px;
    padding-top: 30px;
 }
 .four-style{
 border-radius: 5px;
background: #FFF8F3;
background:;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
padding: 20px;
margin-right: 10px;
 }
.resume-center{
 text-align: center;
  }
  .go-flx{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
  }
  .resume-border{
    border: none;
    padding: 30px;
    background-color: rgba(222, 184, 135, 0.158);
    border-radius: 13px;
    margin-right: 15px;
    /* box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06); */
    /* flex-direction:column; */
    
  }
  .button-margin{
    margin-left: 750px;
    margin-right: 710px;
    margin-top: 20px;
  }
    