 header{
    background: #FFF8F3;
     padding-top: 56px;
    background-image: url('../images/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.header-style{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;

}
ul{
    display: flex;
}
ul ,li{
    gap: 50px;
    list-style: none;
    color:#474747;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.style-head{
color: #181818;
font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.color-primary{
    color: #FD6E0A;
}
.backgroud-primary{
 background-color: #FD6E0A;
 font-size: 30px;
 border-radius: 5px;
 padding: 10px;
 border: none;
 color: white;
}
.head3-style{
color:   #474747;
/* font-family: Open Sans; */
font-size: 45px;
/* font-style: normal; */
/* font-weight: 600; */
/* line-height: normal; */
}
.banar-style{
    max-width: 500px;
}
.head1-style{
 color:   #181818;
/* font-family: Open Sans; */
font-size: 85px;
/* font-style: normal; */
/* font-weight: 700; */
/* line-height: normal; */
}
.pra-style{
 color:   #757575;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.banar{
 display: flex;
  justify-content: space-between;
  padding: 30px 30px 0px 150px;
  align-items: center;
   
  }
  .profile-picture{
    width: 584px;
height: 676px;
  }
 .padding{
     
    border-radius: 10px;
background: #FFF8F3;
border: 3px solid red;
 margin:100px 200px;
 }
 .name-email-style{
    display: flex;
 }
  